@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<div> <img src="https://4.bp.blogspot.com/-zWljEiG9JL4/W8okJeav7SI/AAAAAAAAAm4/F7Q9x6chKpIQWd2t7kY3ayxnNiFJ95dhQCLcBGAs/s668/contact-us-hover.gif" style="width:450px;height:350px;"></div>

<address>
    915 John St.<br />
    Depew, NY 14043<br />
    <abbr title="Phone">P:</abbr>
    425.555.4400
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@bejustin.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@bejustin.com</a>
</address>